@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
    font-family: Lato;
}

.displayPlayerCurrent {
    background-color: #eb445a;
    width: fit-content;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.displayPlayerCurrent > div {
    color: white;
    font-size: 40px;
    padding-bottom: 10px;
}
.displayPlayerCurrent > h3 {
    padding: 10px 30px;
}

#dice {
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: burlywood;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#diceValue {
    font-size: 50px;
}
