@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
:root {
    --ion-background-color: transparent;
    --ion-danger-color: #eb445a;
}
* {
    font-family: Lato;
    font-size: 16px;
}
/* ---- IONIC TAG ---- */
ion-content {
    background: radial-gradient(
        circle,
        rgba(255, 220, 90, 1) 0%,
        rgba(170, 131, 30, 1) 100%
    );
}
ion-grid {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 1);
    background-color: beige;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
ion-row:last-child {
    margin-top: 6rem;
}
ion-button {
    font-size: 1.6rem;
    font-weight: 300;
}
ion-icon {
    font-size: 2.5rem;
}
/* ---- BOARD ELEMENTS ---- */
.playerName {
    font-size: 2rem;
    font-weight: 300;
}
.displayPlayerGlobal {
    font-size: 6.5rem;
    font-weight: 100;
    color: var(--ion-danger-color);
}

.displayPlayerCurrent {
    background-color: var(--ion-danger-color);
    width: fit-content;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.displayPlayerCurrent > div {
    color: white;
    font-size: 2.5rem;
    padding-bottom: 0.8rem;
}
.displayPlayerCurrent > h3 {
    padding: 0.8rem 2.5rem;
    font-weight: 300;
}

/* ---- PLAYER TURN HIGHLIGHT ---- */
.highlightPlayer {
    font-weight: 700;
}
.highlightPlayer::after {
    content: "";
    margin-left: 1rem;
    margin-bottom: 0.3rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: var(--ion-danger-color);
    border-radius: 50%;
}

/* ---- GLOBAL MODAL ---- */
#modalWindow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.8);
}
#modalContent {
    max-width: 80vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    border-radius: 1rem;

    padding: 2rem 4rem;
}
#closeModal {
    color: gray;
    position: absolute;
    right: 0.75rem;
    top: 0px;
    font-size: 2.5rem;
    font-weight: bold;
}
#closeModal:hover {
    color: black;
    cursor: pointer;
}

/* ---- WINNER DISPLAY ---- */
#winnerDisplay {
    font-size: 4rem;
    display: none;
}
#winnerDisplay::before {
    content: "\01F389";
    display: inline-block;
    transform: scale(-1, 1);
    margin-right: 2rem;
}
#winnerDisplay::after {
    content: "\01F389";
    display: inline-block;
    margin-left: 2rem;
}

/* ---- RULES DISPLAY ---- */
#rulesDisplay {
    display: none;
    font-size: 1.5rem;
}
